<html>

<head>
    <meta charset="UTF-8">
    <link href="../static/img/favicon.ico" rel="icon">
    <link href="../static/css/bootstrap.css" rel="stylesheet" media="all">
    <link href="../static/css/bootstrap-icons.css" rel="stylesheet" media="all">
    <link href="../static/css/main.css" rel="stylesheet" media="all">
    <script src="../static/js/jquery-3.4.1.js"></script>
    <script src="../static/js/bootstrap.bundle.js"></script>
    <script src="../static/js/jquery.twbsPagination.js"></script>
    <title>MC-related Compound Search</title>
</head>

<body>
    <div class="h-100 w-100 row m-0 p-0">
        {% include 'nav.html' %}
        <div class="col-9 lb p-0">
            {% include 'header.html' %}
            <div class="ml-5 pt-3 overflow-auto" style="height:90vh">
                <h2><strong>MC-related Compound Search</strong>
                    <sub><a href="../cdownload" class="ml-2"><u>data download</u></a></sub>
                </h2>
                {% csrf_token %}
                <form class="form-inline" role="form" action="../compound_search/" method="POST"
                    enctype=application/x-www-form-urlencoded>
                    {% csrf_token %}
                    <input type="text" class="form-control col-9" name="text" value={{ text }}>
                    <button type="submit" class="btn btn-primary ml-5"><strong>Submit</strong></button>

                    <div>show <input type="text" class="form-control-sm mt-4" name="numberPerPage"
                            value="{{ numberPerPage }}" placeholder="10" style="width:3vw;"> records per page</div>
                    <div class="form-group" style="display:none">
                        <input type="text" class="form-control" name="page" value=1>
                    </div>
                </form>
                <strong>Keywords: SMILES, InChI, InChI Key, Uniprot Accession, Gene Name<br>e.g. <u><a
                            href='../compound_search/?text=O=C1C(CO)(CO)N2CCC1CC2&page=1'>O=C1C(CO)(CO)N2CCC1CC2</a></u>,
                    <u><a href='../compound_search/?text=P04637&page=1'>P04637</a></u></strong><br><br>
                <h3><em><strong>{{ msg }}</strong></em></h3>
                {% if check %}
                <div class="table-responsive mb-3">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Index</th>
                                <th scope="col">UniProt Accession</th>
                                <th nowrap scope="col">Gene Name</th>
                                <th scope="col">Confidence Level<i class="bi bi-question-square-fill p-1" data-bs-html="true" data-bs-toggle="tooltip"
                                    data-bs-placement="bottom" data-bs-align="left" title="<b>Level1:</b> with literature support and GO items association.<br/>
                                    <b>Level2:</b> with literature support but GO items are not mentioned.<br/>
                                    <b>Level3:</b> with GO items association and homologous enzymes have been reported in the literature.<br/>
                                    <b>Level4:</b> GO items are indicated to be associated with mitosis which may be involved in MC."></i>
                                </th>
                                <th scope="col">SMILES</th>
                                <th scope="col">InChI</th>
                                <th scope="col">InChI Key</th>
                                <th scope="col" nowrap>Molecular Formula </th>
                                <th scope="col" nowrap>Molecular Weight <a href="../compound_search/?text={{ text }}&page=1&sort=MolecularWeight"><i class="bi bi-sort-numeric-down-alt"></i></a></th>
                                <th scope="col" nowrap>Classification<i class="bi bi-question-square-fill p-1" data-bs-html="true" data-bs-toggle="tooltip"
                                    data-bs-placement="bottom" data-bs-align="left" title="<b>Inhibitor:</b> The molecule that can inhibit the function of proteins, but does not induce conformational change in the protein.<br/>
                                    <b>Activator:</b> The molecule that can activate the function of proteins, but does not induce conformational change in the protein.<br/>
                                    <b>Allosteric regulator:</b> The molecule that can induce conformational change in the protein.<br/>"></i>
                                     <a href="../compound_search/?text={{ text }}&page=1&sort=prop"><i class="bi bi-sort-alpha-down"></i></a></th>
                            </tr>
                        </thead>
                        {% for data in datas %}
                        <tr>
                            <td nowrap>{{ forloop.counter }}</td>
                            <td nowrap><u><a href="../gene_search/?text={{ data.uniprotKB }}&page=1">{{ data.uniprotKB }}</a></u></td>
                            <td nowrap>{{ data.gene }}</td>
                            <td nowrap>{{ data.level }}</td>
                            <td nowrap>{{ data.smiles }}</td>
                            <td nowrap>{{ data.InChI }}</td>
                            <td nowrap>{{ data.InChIKey }}</td>
                            <td nowrap>{{ data.MolecularFormula }}</td>
                            <td nowrap>{{ data.MolecularWeight }}</td>
                            <td nowrap>{{ data.prop }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div>
                    {% for data in datas %}
                    <figure class="figure border border-info p-2">
                        <img src="../static/img/tmp/{{ data.md5 }}.jpg" class="figure-img img-fluid rounded"
                            alt="{{ data.smiles }}">
                        <figcaption class="figure-caption text-end text-body">{{ forloop.counter }}</figcaption>
                    </figure>
                    {% endfor %}
                </div>
                {% endif %}
                <ul id="pagination">
                </ul>
            </div>
        </div>
    </div>

    {% if check %}
    <script type="text/javascript">
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
        $('#pagination').twbsPagination({
            totalPages: {{ totalPages }},
            startPage: {{ currentPage }},
            visiblePages: 10,
            initiateStartPageClick: false,
            onPageClick: function (event, page) {
                $(window).attr('location', '../compound_search/?text={{ text }}&page=' + page);
            }
            });
    </script>
    {% endif %}
    
</body>

</html>