<div class="row lpp text-white pl-4 m-0 col-3">
    <div class="mt-3" style="font-size:24px">Navigation</div>
    <div class="align-items-center">
        <ul class="mt-5">
            <li class="my-3"><a href="../index_html" class="text-white">Home<br></a></li>
            <li class="my-3"><a href="../data_html?params1=30&params2=30" class="text-white">Data Visualization<br></a>
            </li>
            <li class="my-3"><a href="../gene_html" class="text-white">MC-related Gene and Protein Search<br></a></li>
            <li class="my-3"><a href="../compound_html" class="text-white">MC-related Compound Search<br></a></li>
            <li class="my-3"><a href="../pdb_html" class="text-white">PDB Search<br></a></li>
            <li class="my-3"><a href="../pcompare_html" class="text-white">Protein Sequence Alignment<br></a></li>
            <li class="my-3"><a href="../ccompare_html" class="text-white">Target Prediction<br></a></li>
            <li class="my-3"><a href="../upload_html" class="text-white">Upload<br></a></li>
        </ul>
    </div>
</div>